/* Generics */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Utilities */

.container{
    width: 1200px;
    margin: 20px auto 0 auto;
}

.clearfix::after{
    clear: both;
    display: table;
    content: '';
}

.margin-50-y{
    margin-bottom: 50px;
}

.margin-30-y{
    margin-bottom: 30px;
}

.margin-10-y{
    margin-bottom: 10px;
}

.float-left{
    float: left;
}

/* Colors */

/* .box-pink{
    background-color: #E579E6;
} */

.box-yellow{
    background-color: #E1D67A;
}

.box-blue{
    background-color: #0486F7;
}

.box-light-blue{
    background-color: #ABCFE7;
}

.box-purple{
    background-color: #8801FE;
}

/* -------------- */

/* Header */

.top-header{
    width: 100%;
    height: 100px;
}

#logo{
    width: 160px;
    height: 70px;
}

/* Nav */

ul li a{
    font-family: sans-serif;
    color: #999999;
    font-size: 25px;
    text-decoration: none;
    margin-right: 10px;
}

li {
    list-style-type: none;
}

.bottom-header{
    width: 100%;
    height: 600px;
}

/* Main */

.main-container{
    width: 100%;
    height: 700px;
}

.main-header{
    width: 100%;
    height: 120px;
    margin-bottom: 20px;  
}

.main-sidebar{
    width: 25%;
    height: 540px;
}

.main-center{
    width: calc(50% - 40px);
    height: 540px;
    margin: 0 20px;
}

/* Footer */

.footer-container{
    width: 100%;
    height: 50px;
}